@import "../bower_components/bootstrap/dist/css/bootstrap.css";

/* Source: http://getbootstrap.com/examples/starter-template/ */
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
